@charset "UTF-8";
:root {
  --text-colorgre:#757575;
  --text-colorbl:#212121;
  --text-colorwh: #ffffff;
  --hover-colorblu:#2196F3;
  --focus-color:#188ce8;
  --footer-color:#ffffff99;
  --sect-colordbl:#2F303A;
  --port-hedrgr:#F5F4FA;
  --bord-head:#ECECEC;
  --icon-colo:#AFB1B8;
  --marg-cart:30px;
  --text-logo:Raleway;
  --text-body:Roboto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden-modal {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--text-body), sans-serif;
  background: var(--text-colorwh);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Общий сброс */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* конопка заказа */
.mainorder__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mainorder__button:hover, .mainorder__button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}

.footer-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  align-self: center;
  padding: 10px 28px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}

.footer-form__buttonsvg {
  margin-left: 12px;
  transform: translate(0px, 4px);
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-colorbl);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--port-hedrgr);
  padding: 6px 22px;
  border: 0;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--hover-colorblu);
  color: var(--text-colorwh);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  align-self: center;
  margin-top: 30px;
  padding: 10px 32px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}

.container__head {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--text-colorbl);
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-colorbl);
    margin-bottom: 50px;
    text-align: center;
  }
}

.container .headernav__link.headernav__current {
  position: relative;
  color: var(--hover-colorblu);
}

.headernav__link.headernav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-colorblu);
  border-radius: 2px;
}

.mobile-headermenu__link.mobile-headermenu__current {
  color: var(--hover-colorblu);
}

@media screen and (max-width: 1199px) {
  .headernav__link.headernav__current::after {
    bottom: -38px;
  }
}

.iconteam {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.iconteam__title .iconteam__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.iconteam__title .iconteam__body:hover, .iconteam__title .iconteam__body:focus {
  background-color: var(--hover-colorblu);
}

.iconteam .iconteam__title:not(:last-child) {
  margin-right: 10px;
}

.iconteam__body .iconteam__iconsvg {
  width: 20px;
  height: 20px;
  fill: var(--icon-colo);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.iconteam__title .iconteam__body:hover .iconteam__iconsvg, .iconteam__title .iconteam__body:focus .iconteam__iconsvg {
  fill: var(--text-colorwh);
}

.iconfooter {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.iconfooter__body {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-colorgre);
  background-color: #ffffff1a;
  border-radius: 50%;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.iconfooter__body:hover, .iconfooter__body:focus {
  background-color: var(--hover-colorblu);
}

.iconfooter__svg {
  width: 20px;
  height: 20px;
  fill: var(--text-colorwh);
}

.iconfooter .iconfooter__title:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .iconfooter {
    display: flex;
    list-style: none;
    justify-content: baseline;
  }
}

.mobile-headermenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--text-colorwh);
  overflow: auto;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mobile-headermenu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hero {
  list-style: none;
}

.mobile-headermenu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
  height: 100%;
}

.mobile-headermenu__close-button {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 15px;
}

.mobile-headermenu__iconheadclose {
  width: 40px;
  height: 40px;
}

.mobile-headermenu__close-button:focus {
  fill: var(--hover-colorblu);
}

.mobile-headermenu__item {
  margin-bottom: 32px;
}

.mobile-headermenu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: var(--text-body);
}

.mobile-headermenu__link:focus {
  color: var(--hover-colorblu);
}

.mobile-header__contact {
  margin-bottom: 64px;
}

.mobile-headercontact__links {
  margin-bottom: 32px;
}

.mobile-headercontact__main--phone {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--hover-colorblu);
  letter-spacing: 0.02em;
}

.mobile-headercontact__main--email {
  text-decoration: none;
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--text-colorgre);
}

.mobile-headersocial {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.mobile-headersocial__main {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--hover-colorblu);
}

.mobile-headersocial__main {
  padding-left: 0px;
}

.mobile-headersocial__links:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .mobile-headermenu {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal__closesvg {
  transform: translateY(3px);
}

.modal__block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  background-color: var(--text-colorwh);
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background-color: white;
  border: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--hover-colorblu);
}

@media screen and (min-width: 480px) {
  .modal__block {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__block {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form .modal-form__head {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  color: var(--text-colorbl);
}

.modal-form__lable {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-colorgre);
  margin-top: 10px;
}

.modal-form__name .modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__name .modal-form__input:focus {
  border-color: var(--hover-colorblu);
  outline: none;
}

.modal-form__input:focus + .modal-form__svg {
  fill: var(--hover-colorblu);
}

.modal-form__lable .modal-form__comment {
  width: 100%;
  resize: none;
  height: 138px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__comment:focus {
  border-color: var(--hover-colorblu);
  outline: none;
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__name {
  position: relative;
  display: block;
}

.modal-form__svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.checked {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
  margin-top: 20px;
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-colorgre);
  padding-left: 27px;
  cursor: pointer;
}

.checked__box {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  background-color: var(--text-colorwh);
  border: 1px solid var(--text-colorbl);
  left: 8px;
  margin-left: -8px;
}

.checked__input:focus + .checked__box {
  border: 2px solid var(--hover-colorblu);
  border-radius: 2px;
}

.checked__input:checked + .checked__box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  border: 0;
}

.conditions-policy {
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hover-colorblu);
}

.conditions-policy-box {
  display: inline-block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ce290c;
}

@media screen and (min-width: 1200px) {
  .checked {
    font-size: 14px;
    padding-left: 9px;
  }
  .conditions-policy {
    font-size: 14px;
  }
}

.header-wrappe.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  border-bottom: 1px solid var(--bord-head);
}

.contact {
  display: none;
}

.headernav .headernav__hero {
  display: none;
}

.container__mobile-button {
  right: 0;
  border: 0;
  background-color: var(--text-colorwh);
  padding: 0;
}

.container__mobile-button:focus {
  fill: var(--hover-colorblu);
}

.container__mobile-button .contact__iconhead {
  width: 40px;
  height: 40px;
}

.headernav__logo {
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-colorbl);
  text-decoration: none;
}

.headernav__logo .headernav__web {
  color: var(--hover-colorblu);
}

.headernav__links, .contact__links:not(:first-child) {
  list-style: none;
  color: var(--text-colorgre);
}

.headernav__logo .headernav__web {
  color: var(--hover-colorblu);
}

.headernav__hero .headernav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-colorbl);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.headernav__hero .headernav__link:hover,
.headernav__hero .headernav__link:focus {
  color: var(--hover-colorblu);
}

.contact__links {
  list-style: none;
  color: var(--text-colorgre);
}

.contact__main:hover, .contact__main:focus {
  color: var(--hover-colorblu);
  fill: var(--hover-colorblu);
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid var(--bord-head);
  }
  .headernav__logo {
    font-family: var(--text-logo);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: var(--text-colorbl);
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  .headernav, .headernav__hero {
    display: flex;
    align-items: center;
  }
  .headernav .headernav__hero {
    display: flex;
    align-items: center;
  }
  .headernav__links:not(:first-child), .contact__links:not(:first-child) {
    margin-left: 50px;
  }
  .contact .headernav__links:not(:first-child), .contact__links:not(:first-child) {
    margin-left: 0px;
  }
  .headernav__hero {
    margin-left: 88px;
  }
  .container__mobile-button {
    display: none;
    position: absolute;
  }
  .contact {
    display: inline-block;
    align-items: center;
    margin-left: auto;
  }
  .contact__links:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__main {
    fill: var(--text-colorgre);
    display: flex;
    align-items: center;
    color: var(--text-colorgre);
    transition-property: color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .contact__main .contact__iconhead {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrappe.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
    display: flex;
    align-items: center;
  }
  .headernav__hero {
    margin-left: 93px;
  }
  .contact__links:not(:last-child) {
    margin-bottom: 0px;
  }
  .headernav__links:not(:first-child), .contact__links:not(:first-child) {
    margin-left: 50px;
  }
}

/* Order Flex */
.order {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-mob.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-mob@2x.jpeg);
  }
}

.order .mainorder {
  text-align: center;
}

.order .mainorder__efect {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-colorwh);
  margin: 0 auto 30px;
  max-width: 360px;
}

@media screen and (min-width: 480px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-tablet.jpeg);
  }
  .order .mainorder {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-width: 480px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-width: 480px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-tablet.jpeg);
  }
  .order .mainorder {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 480px) and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 480px) and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/back-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) {
  .order .mainorder__efect {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  .order {
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background-desk.jpeg);
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (max-width: 1200px), screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi) and (max-width: 1200px), screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) and (max-width: 1200px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background-desk.jpeg@2x.jpeg);
  }
}

/* ==================== особености=====================  */
.features {
  padding: 60px 0;
}

.featuresblock__iconfeat {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--port-hedrgr);
  margin-bottom: 30px;
}

.featuresblock__iconfeat .featuresblock__iconfeatures {
  width: 70px;
  height: 70px;
}

.featuresblock .featuresblock__title {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-self: center;
}

.featuresblock__body .featuresblock__hero {
  font-weight: 700;
  line-height: 1.14;
  color: var(--text-colorbl);
  font-family: var(--text-body);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.featuresblock__body {
  line-height: 1.71;
  color: var(--text-colorgre);
  list-style: none;
  color: var(--text-colorgre);
}

@media screen and (min-width: 768px) {
  .featuresblock__title .featuresblock__body {
    flex-basis: calc(100% / 2 - var(--marg-cart));
    margin-right: var(--marg-cart);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
  .featuresblock .featuresblock__title {
    display: flex;
    list-style: none;
    margin-right: calc(-1 * var(--marg-cart));
    justify-content: center;
    align-self: center;
  }
  .featuresblock__body .featuresblock__iconlink {
    margin-bottom: 30px;
  }
  .featuresblock__title .featuresblock__body {
    flex-basis: calc(100% / 4 - var(--marg-cart));
    margin-right: var(--marg-cart);
  }
}

/* ==================== Чем мы занимаемся =====================  */
.wedoing {
  display: none;
}

@media screen and (min-width: 1200px) {
  .wedoing {
    display: block;
    padding-bottom: 94px;
  }
  .directions {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: calc(-1 * var(--marg-cart));
  }
  .directions__body {
    flex-basis: calc(100% / 3 - var(--marg-cart));
    margin-left: var(--marg-cart);
  }
  .directions__title {
    position: relative;
    overflow: hidden;
  }
  .directions__info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-family: var(--text-body);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    overflow: auto;
  }
}

/* ==================== Наша команда ===================== */
.team {
  background-color: var(--port-hedrgr);
  padding: 60px 0;
}

.teamcard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1*var(--marg-cart));
}

.teamcard .teamcard__body {
  flex-basis: calc(100%/1 - var(--marg-cart));
  margin-left: var(--marg-cart);
}

.teamcard__body {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--text-colorwh);
  list-style: none;
  color: var(--text-colorgre);
  margin-bottom: 30px;
}

.teamcard__body:last-child {
  margin-bottom: 0px;
}

.cardperson {
  text-align: center;
  padding: 30px 0;
}

.cardperson__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-colorbl);
  margin-bottom: 10px;
}

.cardperson__footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-colorgre);
  margin-bottom: 16px;
}

.iconteam__title .iconteam__body:focus .iconteam__iconsvg {
  fill: var(--text-colorwh);
}

/* ========================================= */
@media screen and (min-width: 768px) {
  .teamcard {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: calc(-1*var(--marg-cart));
  }
  .teamcard .teamcard__body {
    flex-basis: calc(100%/2 - var(--marg-cart));
    margin-left: var(--marg-cart);
  }
  .teamcard__body:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--port-hedrgr);
    padding: 94px 0;
  }
  .teamcard {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: calc(-1*var(--marg-cart));
  }
  .teamcard .teamcard__body {
    flex-basis: calc(100%/4 - var(--marg-cart));
    margin-left: var(--marg-cart);
  }
  .teamcard__body {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--text-colorwh);
    list-style: none;
    color: var(--text-colorgre);
  }
  .cardperson {
    text-align: center;
    padding: 30px 0;
  }
  .cardperson__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-colorbl);
    margin-bottom: 10px;
  }
  .cardperson__footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-colorgre);
    margin-bottom: 16px;
  }
}

/* ====================== Наши клиенты =================== */
.clients-section {
  padding: 60px 0;
}

.client {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: calc(-1*var(--marg-cart));
}

.client__title {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100%/2 - var(--marg-cart));
  margin-bottom: var(--marg-cart);
  border-radius: 4%;
}

.client__title:nth-child(2n) {
  margin-left: var(--marg-cart);
}

.client__title:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.client__iconbody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-colo);
  border: 1px solid var(--icon-colo);
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.client__iconbody:hover, .client__iconbody:focus {
  fill: var(--hover-colorblu);
  border-color: var(--hover-colorblu);
}

@media screen and (min-width: 768px) {
  .client {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: calc(-1 * var(--marg-cart));
    margin-right: 0;
  }
  .client__title {
    width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100%/3 - var(--marg-cart));
    margin-bottom: var(--marg-cart);
    margin-left: var(--marg-cart);
    border-radius: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding: 94px 0;
  }
  .client__title {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100%/6 - var(--marg-cart));
    margin-left: var(--marg-cart);
    border-radius: 4%;
  }
  .client__iconbody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: var(--icon-colo);
    border: 1px solid var(--icon-colo);
    border-radius: 4px;
    transition-property: fill, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  .client__iconbody:hover, .client__iconbody:focus {
    fill: var(--hover-colorblu);
    border-color: var(--hover-colorblu);
  }
}

.footer-title .container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--sect-colordbl);
}

.footer-nav__web {
  color: var(--hover-colorblu);
}

.address .address__body {
  list-style: none;
  color: var(--text-colorgre);
}

.address__title {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--footer-color);
  text-decoration: none;
}

.container .footer-nav {
  margin-bottom: 60px;
}

.footer-title {
  background-color: var(--sect-colordbl);
  padding: 60px 0 60px;
}

.container .footer-nav__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: var(--text-logo);
  color: var(--text-colorwh);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.address .address__body:not(:last-child) {
  margin-bottom: 9px;
}

.address__body .address__title--map {
  list-style: none;
  color: var(--text-colorwh);
}

.join {
  margin-bottom: 60px;
}

.subscribe__head, .join__head {
  color: var(--text-colorwh);
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: inline-block;
}

.footer-form__email {
  width: 100%;
  height: 50px;
  background-color: var(--sect-colordbl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-colorwh);
}

.footer-form__email::placeholder {
  position: fixed;
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}

@media screen and (min-width: 768px) {
  .footer-title .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: var(--sect-colordbl);
    justify-content: space-between;
  }
  .container .footer-nav {
    margin-right: 70px;
  }
  .footer-form__email {
    height: 50px;
    background-color: var(--sect-colordbl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-colorwh);
  }
  .footer-form {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title .container {
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    background-color: var(--sect-colordbl);
    justify-content: space-between;
  }
  .container .footer-nav__logo {
    display: block;
    margin-bottom: 20px;
  }
  .container .footer-nav {
    margin-bottom: 70px;
  }
  .footer-form__email {
    height: 50px;
    width: 358px;
    background-color: var(--sect-colordbl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-colorwh);
  }
  .join {
    margin-right: 93px;
  }
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container .filters {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 25px;
  list-style: none;
  color: var(--text-colorgre);
}

.filters .filters__radio {
  margin-bottom: 15px;
}

.filters .filters__radio:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .container .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container .filters {
    margin-bottom: 34px;
  }
}

/* сетка карточки */
.portfolio-hero {
  flex-wrap: wrap;
  list-style: none;
  margin-left: calc(-1 * var(--marg-cart));
}

.portfolio-hero .portfolio-hero__title {
  margin-top: var(--marg-cart);
  margin-left: var(--marg-cart);
  cursor: pointer;
  border: 1px solid #EEEEEE;
  list-style: none;
  color: var(--text-colorgre);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio-hero__links {
  height: 100%;
  text-decoration: none;
  display: block;
  list-style: none;
  color: var(--text-colorgre);
}

.portfolio-hero__links:hover, .portfolio-hero__links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-hero__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-colorbl);
  margin-bottom: 4px;
}

.portfolio-hero__footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-colorgre);
}

.portfolio-hero__carddes {
  padding: 20px 24px;
}

.portfolio-hero__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-hero__description {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--text-colorwh);
  background: rgba(33, 150, 243, 0.9);
  font-family: var(--text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 44px 54px;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio-hero__links:hover .portfolio-hero__description, .portfolio-hero__links:focus .portfolio-hero__description {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-hero {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0;
  }
  .portfolio-hero .portfolio-hero__title {
    flex-basis: calc(100%/2 - var(--marg-cart));
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-hero .portfolio-hero__title {
    flex-basis: calc(100%/3 - var(--marg-cart));
  }
}
/*# sourceMappingURL=main.css.map */