:root{
    --text-colorgre:#757575;
    --text-colorbl:#212121;
    --text-colorwh: #ffffff;
    --hover-colorblu:#2196F3;
    --focus-color:#188ce8;
    --footer-color:#ffffff99;
    --sect-colordbl:#2F303A;
    --port-hedrgr:#F5F4FA;
    --bord-head:#ECECEC;
    --icon-colo:#AFB1B8;
    --marg-cart:30px;
    --text-logo:Raleway;   
    --text-body:Roboto;
}