.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    overflow-x: auto;
  }
  .modal__closesvg {
    transform: translateY(3px);
  }
  .modal__block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    background-color: var(--text-colorwh);
    transform: translate(-50%, -50%);
  }

  .modal__close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    background-color: white;
    border: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__close:hover, .modal__close:focus {
    fill: var(--hover-colorblu);
  }

  @media screen and(min-width:480px) {
    .modal__block {
 
      width: 480px;
      height: 609px;
    }
    
  }

  @media screen and(min-width:1200px) {
    .modal__block {
 
      width: 528px;
      height: 581px;
    }
    
  }