/* конопка заказа */
.mainorder__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.mainorder__button:hover, .mainorder__button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}

.footer-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  align-self: center;
  padding: 10px 28px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}

.footer-form__buttonsvg {
  margin-left: 12px;
  transform: translate(0px, 9px);
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-colorbl);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--port-hedrgr);
  padding: 6px 22px;
  border: 0;
  transition-property: background-color, color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--hover-colorblu);
  color: var(--text-colorwh);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-colorwh);
  background-color: var(--hover-colorblu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  align-self: center;
  margin-top: 30px;
  padding: 10px 32px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--focus-color);
  color: var(--text-colorwh);
}
