.mobile-headermenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--text-colorwh);
    overflow: auto;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.mobile-headermenu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }


.hero{
    list-style: none;
}

.mobile-headermenu__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 48px 40px;
        height: 100%;

    }

.mobile-headermenu__close-button{
        position:absolute;
        top: 10px;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        margin-right: 15px;
    }

.mobile-headermenu__iconheadclose{
        width: 40px;
        height: 40px;
    }
    
.mobile-headermenu__close-button:focus{
    fill: var(--hover-colorblu);
}


.mobile-headermenu__item{
    margin-bottom: 32px;
}

.mobile-headermenu__link{
    font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--primary-text-color);
font-family: var(--text-body);

}


.mobile-headermenu__link:focus{
    color:var(--hover-colorblu);
}

.mobile-header__contact{
    
    margin-bottom: 64px;
}

.mobile-headercontact__links{

    margin-bottom: 32px;
}

.mobile-headercontact__main--phone{
font-family: var(--text-body);
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
text-decoration: none;
color: var(--hover-colorblu);

letter-spacing: 0.02em;}

.mobile-headercontact__main--email{
text-decoration: none;
font-family: var(--text-body);
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: var(--text-colorgre);
}

.mobile-headersocial{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mobile-headersocial__main{
font-family: var(--text-body);
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22px;
text-decoration: none;

letter-spacing: 0.02em;
color: var(--hover-colorblu);
}
.mobile-headersocial__main{
    padding-left: 0px;
}


.mobile-headersocial__links:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,0.2);
}

@media screen and(min-width:768px) {
    .mobile-headermenu{
        display: none;
    }
    
}