
.footer-title .container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--sect-colordbl);
}
  
  .footer-nav__web {
    color: var(--hover-colorblu);
  }
  
  .address .address__body {
    list-style: none;
    color: var(--text-colorgre);
  }
  
  .address__title {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--footer-color);
    text-decoration: none;
  }
  
  .container .footer-nav {
    margin-bottom: 60px;
  }


  
  .footer-title {
    background-color: var(--sect-colordbl);
    padding: 60px 0 60px;
  }
  
  .container .footer-nav__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: var(--text-logo);
    color: var(--text-colorwh);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }
  
  .address .address__body:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .address__body .address__title--map {
    list-style: none;
    color: var(--text-colorwh);
  }

   
  .join {
    margin-bottom: 60px;
  }
  
  
  .subscribe__head, .join__head {
    color: var(--text-colorwh);
    font-family: var(--text-body);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .footer-form {
    display: inline-block;
  }
  .footer-form__email {
    width: 100%;
    height: 50px;
    background-color: var(--sect-colordbl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px 295px 15px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-colorwh);
  }


  .footer-form__email::placeholder {
    font-family: var(--text-body);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 25;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--footer-color);
  }

  @media screen and(min-width:768px) {

    .footer-title .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: var(--sect-colordbl);
    justify-content: space-between;
  }

    .container .footer-nav {
    margin-right: 70px;
  }

    .footer-form__email {
    height: 50px;
    background-color: var(--sect-colordbl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px 295px 15px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-colorwh);
  }
    .footer-form {
margin-left: 166px;
margin-right: 152px;
    }
  }

  @media screen and(min-width:1200px) {

    .footer-title .container{
      text-align: left;
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
      background-color:var(--sect-colordbl);
      justify-content: space-between;
  
  }

  .container .footer-nav__logo{
    display: block;
    margin-bottom: 20px;
}

  .container .footer-nav {
    margin-bottom: 70px;
  }

      .footer-form__email {
    height: 50px;
    width: 358px;
    background-color: var(--sect-colordbl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px 295px 15px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--text-colorwh);
  }

    .join {
    margin-right: 93px;
  }


    .footer-form {
 margin-left: auto;
 margin-right: auto;
          }
  
  }