
.header-wrappe.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .header{
    padding-bottom: 16px;
    padding-top: 16px;
    position: relative;
    border-bottom: 1px solid var(--bord-head);
  }



  .contact{
    display: none;
  }

  .headernav .headernav__hero{
    display: none;
  }

.container__mobile-button{
    right: 0;
    border: 0;
    background-color: var(--text-colorwh);
    padding: 0;
  }

.container__mobile-button:focus{
    fill: var(--hover-colorblu);
}

.container__mobile-button .contact__iconhead{
  width: 40px;
  height: 40px;
}

.headernav__logo {
      font-family: var(--text-logo);
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      color: var(--text-colorbl);
      text-decoration: none;
    }

    
.headernav__logo .headernav__web {

      color: var(--hover-colorblu);
    }

.headernav__links, .contact__links:not(:first-child) {
    list-style: none;
    color: var(--text-colorgre);
  }
  

  
//   /* Подчеркивание шапкаи */
//   /* Шрифт шапки лого */

  
  .headernav__logo .headernav__web {
    color: var(--hover-colorblu);
  }
  
//   /* шрифт шапки навигация */
  .headernav__hero .headernav__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-colorbl);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  
  .headernav__hero .headernav__link:hover,
  .headernav__hero .headernav__link:focus {
    color: var(--hover-colorblu);
  }
  
//   /* шрифт шапки контакты */



  .contact__links {
    list-style: none;
    color: var(--text-colorgre);
  }


  .contact__main:hover, .contact__main:focus {
    color: var(--hover-colorblu);
    fill: var(--hover-colorblu);
  }
// ============================================



  @media screen and (min-width:768px) {

.header {
      padding-bottom: 25px;
      padding-top: 25px;
      border-bottom: 1px solid var(--bord-head);
    
    }

    .headernav__logo {
      font-family: var(--text-logo);
      font-weight: 700;
      font-size: 24px;
      line-height: 1.17;
      color: var(--text-colorbl);
      text-decoration: none;
      letter-spacing: 0.03em;
    }



.headernav, .headernav__hero {
      display: flex;
      align-items: center;
    }
  
.headernav .headernav__hero{
      display: flex;
      align-items: center;
    }

.headernav__links:not(:first-child), .contact__links:not(:first-child) {
  margin-left: 50px;
}

.contact .headernav__links:not(:first-child), .contact__links:not(:first-child) {
  margin-left: 0px;
}

.headernav__hero {
  margin-left: 88px;
}
  
    .container__mobile-button{
      display: none;
      position: absolute;
    }

  .contact {
    display: inline-block;
    align-items: center;
    margin-left: auto;
  }
  
  .contact__links:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__main {
    fill: var(--text-colorgre);
    display: flex;
    align-items: center;
    color: var(--text-colorgre);
    transition-property: color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

  }

  .contact__main .contact__iconhead {
    margin-right: 10px;
  }

  }


  @media screen and (min-width:1200px) {
    .header-wrappe.container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  

    .contact {
      display: flex;
      align-items: center;
    }

    .headernav__hero {
      margin-left: 93px;
    }


    .contact__links:not(:last-child) {
      margin-bottom: 0px;
    }

    .headernav__links:not(:first-child), .contact__links:not(:first-child) {
      margin-left: 50px;
    }
  
  }