/* Order Flex */

.order {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;  background-image:
   linear-gradient(rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
   url(../image/back-mob.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2) and (max-width:767px),
(min-resolution: 192dpi) and (max-width:767px),
(min-resolution: 2dppx) and (max-width:767px) {
.order {
  background-image:linear-gradient(rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
   url(../image/back-mob@2x.jpeg);
}
}


.order .mainorder {
  text-align: center;
}

.order .mainorder__efect {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-colorwh);
  margin: 0 auto 30px;
  max-width: 360px;
}

@media screen and (min-width:480px) {

  .order {
    background-image:
     linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
     url(../image/back-tablet.jpeg);
  }
  
  .order .mainorder {
    text-align: center;
  }
  
  
  @media (min-device-pixel-ratio: 2) and (max-width:1199px),
  (min-resolution: 192dpi) and (max-width:1199px),
  (min-resolution: 2dppx) and (max-width:1199px) {
  .order {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
     url(../image/back-tablet@2x.jpeg);
  }
  }

}

@media screen and (min-width:1200px) {

  .order {
    background-image:
     linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
   url(../image/background-desk.jpeg);
}
  
  .order .mainorder {
    text-align: center;
  }
  
  
  @media (min-device-pixel-ratio: 2) and (min-width:1200px),
  (min-resolution: 192dpi) and (min-width:1200px),
  (min-resolution: 2dppx) and (min-width:1200px) {
  .order {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
   url(../image/background-desk@2x.jpeg);
}
  }

}